body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  background-color: #f8f8f8;
  display: flex;
  gap: 32px;
  padding: 16px;
  align-items: center;
  border-block: 2px solid #f1eded;
  color: #686666;
  list-style-type: none;
  margin-top: 0;
  position: relative;
}
ul .toggle-mobile-menu {
  display: none;
}
ul .navbar {
  display: flex;
  gap: 32px;
}
ul .navbar__button {
  font-size: 13px;
}
ul .app-title {
  font-size: 24px;
}

section {
  margin-top: 32px;
  display: flex;
  padding: 0 10%;
  gap: 32px;
}
section .left-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
section .left-content .new-recipe {
  background-color: #5cb85c;
  border-radius: 4px;
  padding: 8px;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  color: #ffffff;
}
section .left-content hr {
  width: 100%;
  border: solid #c1c1c1 2px;
}
section .left-content .food-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #c1c1c1;
}
section .left-content .food-cards div:hover + .choices, section .left-content .food-cards .choices:hover {
  height: 750px;
  transition-property: height;
  transition-duration: 0.5s;
}
section .left-content .food-cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px;
  border-radius: 4px;
  padding: 16px;
}
section .left-content .food-cards .card .food-info {
  padding: 8px;
}
section .left-content .food-cards .card .food-info .food-title {
  margin-top: 0;
  font-size: 32px;
  color: black;
}
section .left-content .food-cards .card .food-info .food-description {
  margin-bottom: 0px;
  font-size: small;
  color: #686666;
}
section .left-content .food-cards .card img {
  margin: 8px;
  border: solid 2px;
  border-radius: 4px;
  height: 64px;
  width: 128px;
}
section .left-content .choices {
  height: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section .left-content .choices span {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0px;
  color: #5cb85c;
}
section .left-content .choices label {
  font-size: 15px;
  margin-bottom: 8px;
  color: #000;
  background-color: #f5deb3;
  padding: 16px;
  border-radius: 12px;
  border: solid 1px #5cb85c;
}
section .left-content .choices textarea {
  color: #686666;
}
section .right-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content span {
  font-size: 13px;
  font-weight: bold;
}
section .right-content .recipe-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content .recipe-name__buttons {
  display: flex;
  gap: 16px;
}
section .right-content .recipe-name__buttons__save {
  background-color: #95d195;
}
section .right-content .recipe-name__buttons__cancel {
  background-color: #d9534f;
}
section .right-content .recipe-name__buttons button {
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
}
section .right-content .recipe-name #name-input {
  color: #686666;
  padding: 8px;
  font-size: large;
  border: solid 2px #c1c1c1;
  border-radius: 4px;
}
section .right-content .url-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content .url-section #url-input {
  color: #686666;
  padding: 8px;
  font-size: 18px;
  border: solid 2px #c1c1c1;
  border-radius: 4px;
}
section .right-content .description-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content .description-section img {
  height: auto;
  width: 30%;
}
section .right-content .description-section #description-input {
  color: #686666;
  padding: 8px;
  font-size: 18px;
  border: solid 2px #c1c1c1;
  border-radius: 4px;
  height: 8rem;
}
section .right-content .ingredients-section {
  display: flex;
  flex-direction: column;
}
section .right-content .ingredients-section .input-ingredients {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 8px;
  width: 90%;
}
section .right-content .ingredients-section .input-ingredients input {
  color: #686666;
  padding: 8px;
  font-size: large;
  border: 2px solid #c1c1c1;
  border-radius: 4px;
}
section .right-content .ingredients-section .input-ingredients #ingredient-input {
  flex: 1;
}
section .right-content .ingredients-section .input-ingredients #amount-input {
  width: 64px;
}
section .right-content .ingredients-section .input-ingredients .add-amount-button {
  font-size: 18px;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: none;
  background-color: #d9534f;
  color: #ffffff;
  border-radius: 4px;
}
section .right-content .ingredients-section .input-ingredients:nth-of-type(2) input {
  border-color: #ff0000;
}
section .right-content .ingredients-section .input-ingredients:nth-of-type(3) input {
  display: none;
}
section .right-content .ingredients-section .input-ingredients:nth-of-type(3) .add-amount-button {
  display: none;
}
section .right-content .ingredients-section hr {
  border-style: solid;
  width: 100%;
  border-color: #c1c1c1;
  margin-top: 16px;
}
section .right-content .ingredients-section .add-ingredient-button {
  background-color: #5cb85c;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 18px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 16px;
}

@media (max-width: 1200px) {
  ul {
    justify-content: space-between;
  }
  ul .toggle-mobile-menu {
    display: block;
    background-color: #f8f8f8;
    border: 2px solid #f1eded;
    border-radius: 4px;
    padding: 4px 8px;
    color: #777171;
    font-size: 24px;
    cursor: pointer;
  }
  ul .navbar {
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: #f8f8f8;
    border-block: 2px solid #f1eded;
    flex-direction: column;
  }
  ul .navbar__button {
    padding: 16px;
    font-size: 18px;
  }
  ul .toggle-mobile-menu:hover + .navbar {
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }
  section {
    flex-direction: column;
    padding: 0 16px;
  }
  section .left-content {
    width: 100%;
  }
  section .right-content {
    width: 100%;
  }
  section .right-content .description-section textarea {
    max-height: 64px;
  }
  section .right-content .description-section img {
    width: 100%;
  }
  section .right-content .ingredients-section {
    margin-bottom: 20px;
  }
  section .right-content .ingredients-section .input-ingredients {
    width: 100%;
  }
  section .right-content .ingredients-section .input-ingredients #ingredient-input {
    flex: 1;
    width: 100%;
  }
  section .right-content .ingredients-section .input-ingredients #amount-input {
    width: 36px;
    text-align: center;
  }
  section .right-content .ingredients-section .input-ingredients .add-amount-button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  section .right-content .ingredients-section .input-ingredients:nth-of-type(2) input {
    border-color: #c1c1c1;
  }
  section .right-content .ingredients-section .input-ingredients:nth-of-type(3) input {
    border-color: #ff0000;
    display: block;
  }
  section .right-content .ingredients-section .input-ingredients:nth-of-type(3) .add-amount-button {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */