body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #f8f8f8;
    display: flex;
    gap: 32px;
    padding: 16px;
    align-items: center;
    border: solid #f1eded 2px;
    color: #686666;

    .app-title {
        font-size: x-large;
    }

    .navbar-button {
        font-size: small;
    }
}

section {
    margin-top: 32px;
    display: flex;
    padding: 0 10%;
    gap: 32px;

    .left-content {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .new-recipe {
            background-color: #5cb85c;
            border-radius: 4px;
            padding: 8px;
            font-size: large;
            width: fit-content;
            border: none;
            color: white;
        }

        hr {
            width: 100%;
            border: solid #c1c1c1 2px;
        }

        .food-cards {
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: #c1c1c1;

            .card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: solid 2px;
                border-radius: 4px;
                padding: 16px;

                .food-info {
                    padding: 8px;

                    .food-title {
                        margin-top: 0;
                        font-size: xx-large;
                        color: black;
                    }

                    .food-description {
                        margin-bottom: 0px;
                        font-size: small;
                        color: #686666;
                    }
                }

                img {
                    margin: 8px;
                    border: solid 2px;
                    border-radius: 4px;
                    height: 64px;
                    width: 128px;
                }

            }
        }
    }

    .right-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 16px; //if we use here gap: 3rem; the scroll bar appears but looks like the design picture

        span {
            font-size: small;
            font-weight: bold;
        }

        .recipe-name {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__buttons {
                display: flex;
                gap: 16px;
                
                &__save {
                    background-color: #95d195;
                }

                &__cancel {
                    background-color: #d9534f;
                }

                button {
                    color: white;
                    border: none;
                    border-radius: 4px;
                    padding: 8px;
                    width: fit-content;
                    font-size: large;
                }
            }

            #name-input {
                color: #686666;
                padding: 8px;
                font-size: large;
                border: solid 2px #c1c1c1;
                border-radius: 4px;
            }
        }

        .url-section {
            display: flex;
            flex-direction: column;
            gap: 16px;

            #url-input {
                color: #686666;
                padding: 8px;
                font-size: large;
                border: solid 2px #c1c1c1;
                border-radius: 4px;
            }

        }

        .description-section {
            display: flex;
            flex-direction: column;
            gap: 16px;

            img {
                height: auto;
                width: 30%;
            }

            #description-input {
                color: #686666;
                padding: 8px;
                font-size: large;
                border: solid 2px #c1c1c1;                
                border-radius: 4px;
                height: 8rem;
            }
        }

        .ingredients-section {
            display: flex;
            flex-direction: column; 

            .input-ingredients {
                display: flex;
                gap: 32px;
                align-items: center;
                margin-top: 8px;
                width: 90%;

                input {
                    color: #686666;
                    padding: 8px;
                    font-size: large;
                    border: 2px solid #c1c1c1;
                    border-radius: 4px;
                }

                #ingredient-input {
                    flex: 1;
                }

                #amount-input {
                    width: 64px;
                }

                .add-amount-button {
                    font-size: large;
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                    border: none;
                    background-color: #d9534f;
                    color: white;
                    border-radius: 4px;
                }

                &:nth-of-type(2) {
                    input {
                        border-color: red;
                    }
                }
            }

            hr {
                border-style: solid;
                width: 100%;
                border-color: #c1c1c1;
                margin-top: 16px; 
            }

            .add-ingredient-button {
                background-color: #5cb85c;
                color: white;
                border: none;
                border-radius: 4px;
                padding: 8px;
                font-size: large;
                width: fit-content;
                margin-top: 16px;
            }
        }
    }
}