body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: #f8f8f8;
  display: flex;
  gap: 32px;
  padding: 16px;
  align-items: center;
  border: solid #f1eded 2px;
  color: #686666;
}
nav .app-title {
  font-size: x-large;
}
nav .navbar-button {
  font-size: small;
}

section {
  margin-top: 32px;
  display: flex;
  padding: 0 10%;
  gap: 32px;
}
section .left-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
section .left-content .new-recipe {
  background-color: #5cb85c;
  border-radius: 4px;
  padding: 8px;
  font-size: large;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  color: white;
}
section .left-content hr {
  width: 100%;
  border: solid #c1c1c1 2px;
}
section .left-content .food-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #c1c1c1;
}
section .left-content .food-cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px;
  border-radius: 4px;
  padding: 16px;
}
section .left-content .food-cards .card .food-info {
  padding: 8px;
}
section .left-content .food-cards .card .food-info .food-title {
  margin-top: 0;
  font-size: xx-large;
  color: black;
}
section .left-content .food-cards .card .food-info .food-description {
  margin-bottom: 0px;
  font-size: small;
  color: #686666;
}
section .left-content .food-cards .card img {
  margin: 8px;
  border: solid 2px;
  border-radius: 4px;
  height: 64px;
  width: 128px;
}
section .right-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content span {
  font-size: small;
  font-weight: bold;
}
section .right-content .recipe-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content .recipe-name__buttons {
  display: flex;
  gap: 16px;
}
section .right-content .recipe-name__buttons__save {
  background-color: #95d195;
}
section .right-content .recipe-name__buttons__cancel {
  background-color: #d9534f;
}
section .right-content .recipe-name__buttons button {
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: large;
}
section .right-content .recipe-name #name-input {
  color: #686666;
  padding: 8px;
  font-size: large;
  border: solid 2px #c1c1c1;
  border-radius: 4px;
}
section .right-content .url-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content .url-section #url-input {
  color: #686666;
  padding: 8px;
  font-size: large;
  border: solid 2px #c1c1c1;
  border-radius: 4px;
}
section .right-content .description-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section .right-content .description-section img {
  height: auto;
  width: 30%;
}
section .right-content .description-section #description-input {
  color: #686666;
  padding: 8px;
  font-size: large;
  border: solid 2px #c1c1c1;
  border-radius: 4px;
  height: 8rem;
}
section .right-content .ingredients-section {
  display: flex;
  flex-direction: column;
}
section .right-content .ingredients-section .input-ingredients {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 8px;
  width: 90%;
}
section .right-content .ingredients-section .input-ingredients input {
  color: #686666;
  padding: 8px;
  font-size: large;
  border: 2px solid #c1c1c1;
  border-radius: 4px;
}
section .right-content .ingredients-section .input-ingredients #ingredient-input {
  flex: 1;
}
section .right-content .ingredients-section .input-ingredients #amount-input {
  width: 64px;
}
section .right-content .ingredients-section .input-ingredients .add-amount-button {
  font-size: large;
  width: 32px;
  height: 32px;
  padding: 8px;
  border: none;
  background-color: #d9534f;
  color: white;
  border-radius: 4px;
}
section .right-content .ingredients-section .input-ingredients:nth-of-type(2) input {
  border-color: red;
}
section .right-content .ingredients-section hr {
  border-style: solid;
  width: 100%;
  border-color: #c1c1c1;
  margin-top: 16px;
}
section .right-content .ingredients-section .add-ingredient-button {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: large;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 16px;
}/*# sourceMappingURL=index.css.map */